<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <!-- 一开始用name来让两个选项互斥(你往服务器提交表单的时候，要么提交第一个，要么提交第二个，因为往服务器提交时，key都是name)
         而用了v-model就可以不使用name了，下面两个仍然互斥 -->
    <!-- 需求，当选择性别男时，将value="男"绑定到app.sex中，选择性别女同理 -->
    <label for="male">
        <input type="radio" id="male" name="sex" value="男" v-model="sex">男
    </label>
    <label for="female">
        <input type="radio" id="female" name="sex" value="女" v-model="sex">女
    </label>
    <h2>您选择的性别是：{{sex}}</h2>
</div>

<script src="../js/vue.js"></script>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            message: '你好啊',
            sex: '男' // 默认选项
        }
    })
</script>

</body>
</html>
