<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="app">
  <!-- 这里不应该写两个，而是应该在一个里面传递。写两个相当于使用了两次这个组件，到时候组件自然就包含两份。 -->
  <!--<cpn :number1="num1"></cpn>-->
  <!--<cpn :number2="num2"></cpn>-->

  <!-- 如果你在使用组件的过程当中，中间不需要加东西的话，可以使用单标签。而且单标签看起来更整洁。 -->
  <!-- 监听子发送到父的事件 -->
  <cpn :number1="num1"
       :number2="num2"
       @num1change="num1change"
       @num2change="num2change" />
</div>

<template id="cpn">
  <!-- 组件模板里必须有根。 -->
  <div>
    <h2>props:{{number1}}</h2>
    <h2>data:{{dnumber1}}</h2>
    <!--<input type="text" v-model="number1">-->
    <!--<input type="text" v-model="dnumber1">-->
    <!--<input type="text" v-bind:value="dnumber1" @input="dnumber1=$event.target.value">-->
    <input type="text" :value="dnumber1" @input="num1Input">
    <h2>props:{{number2}}</h2>
    <h2>data:{{dnumber2}}</h2>
    <!--<input type="text" v-model="number2">-->
    <!--<input type="text" v-model="dnumber2">-->
    <!--<input type="text" v-bind:value="dnumber2" @input="dnumber2=$event.target.valjue">-->
    <input type="text" :value="dnumber2" @input="num2Input">
  </div>
</template>

<script src="../js/vue.js"></script>

<script>
  const app = new Vue({
    el: '#app',
    data: {
      num1: 1,
      num2: 0
    },
    methods: {
      num1change(value) {
        //console.log(typeof value);

        // value默认传过来的时string类型，这里做一个转化
        // this.num1 = value * 1
        this.num1 = parseFloat(value)
      },
      num2change(value) {
        // console.log(typeof value);
        // this.num2 = value * 1
        this.num2 = parseFloat(value)
      }
    },
    components: {
      cpn: {  // 对象可以抽离出去
        template: `#cpn`,
        props: {
          // 使用对象的写法可以对它进行限制——类型、默认值、是否为必传值（下面只对类型进行限制）
          // 如果你想直接展示，可以直接用这两个东西，但是想修改的话就一定要放到data里面
          number1: Number,
          number2: Number
        },
        data() {
          return {
            // 根据props里的number1和number2初始化data里的这两个东西，然后再绑定到input上。
            dnumber1: this.number1,
            dnumber2: this.number2
          }
        },
        methods: {
          num1Input(event) {
            // 1.将input中的value赋值到dnumber中
            this.dnumber1 = event.target.value;

            // 2.为了让父组件可以修改值，发出一个事件
            this.$emit('num1change', this.dnumber1);

            // 3.同时修饰dnumber2的值
            this.dnumber2 = this.dnumber1 * 100;
            // 虽然data改变了，但是props没有改变
            this.$emit('num2change', this.dnumber2);
          },
          num2Input(event) {
            this.dnumber2 = event.target.value;
            this.$emit('num2change', this.dnumber2)

            // 3.同时修饰dnumber1的值
            this.dnumber1 = this.dnumber2 / 100;
            this.$emit('num1change', this.dnumber1);
          }
        }
      }
    }
  })
</script>

</body>
</html>
