<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    .active {
      color: red;
    }
  </style>
</head>
<body>
<div id="app">
  <ul>
    <!--<li v-for="(item, index) in movies"><a href="#" v-on:click="change(index)" v-bind:class="active">{{item}}</a></li>-->
    <li v-for="(item, index) in movies" :class="{active: currentIndex == index}" @click="liClick(index)">{{item}}</li>
  </ul>
</div>

<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      movies: ['海王', '海尔兄弟', '火影忍者', '进击的巨人'],
      // active: false
      currentIndex: 0
    },
    methods: {
      // change(index) {
      //   this.active = !this.active;
      // }
      liClick(index) {
        this.currentIndex = index;
      }
    }
  })
</script>
</body>
</html>
